body {
  background-image: url(../../../../assets/css/img/bg_extension_0.png);
  background-size: cover;
}

.combackhome {
  margin: 31px;
}

header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 320px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #ffffffbd;
}

.header__nav-ul {
  display: flex;
  justify-content: space-around;
  gap: 90px;
}

.header__nav-ul-li {
  font-size: 24px;
  font-weight: 700;
  color: #ffff;
  opacity: 0.7;
  padding: 27px;
  cursor: pointer;
}

.header__nav-ul-li:hover {
  background-color: rgba(198, 201, 204, 0.412);
}

/* header */

main {
  margin: 83px 492px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 500px;
  height: 540px;
  position: relative;
}

/* main */

.subject {
  font-size: 24px;
  font-weight: 700;
  color: #ffff;
  opacity: 0.7;
  padding: 27px;
  cursor: pointer;
  width: 373px;
  text-align: center;
  background-color: rgba(198, 201, 204, 0.777);
  margin-left: 120px;
}

.button {
  font-size: 20px;
  width: 450px;
  height: 60px;
  font-weight: 700;
  color: #ffff;
  background-color: #ffffff8e;
  cursor: pointer;
  border: 1px solid #ffffff8e;
  border-radius: 10px;
}

.button:hover {
  background-color: #ffffffbb;
}

.container {
  background-color: #ffffffbb;
  width: 660px;
  height: 659px;
  position: fixed;
  top: 83px;
  left: 400px;
  padding: 15px;
  overflow: auto;
}

.vocabulary {
  font-size: 18px;
  font-weight: 600;
  color: #505050bb;
}

.container_input {
  width: 400px;
  height: 52px;
  border: 3px solid #ffff;
  border-radius: 27px;
  padding-left: 18px;
  font-size: 17px;
  margin-bottom: 15px;
  position: fixed;
  left: 532px;
}

.img_search {
  position: fixed;
  right: 610px;
  top: 105px;
}

.vocOne {
  display: flex;
  gap: 10px;
}

.section {
  display: flex;
  justify-content: left;
  gap: 80px;
  padding-top: 32px;
}

.container2 {
  padding-top: 50px;
}

.heading {
  font-size: 21px;
  color: #41414192;
  font-weight: 600;
  text-align: center;
  line-height: 33px;
}

.container2 {
  padding-top: 5px;
}

.content {
  margin: 20px 10px;
}

.content p {
  font-size: 18px;
  color: #41414192;
  font-weight: 600;
  line-height: 33px;
}

.content1 {
  margin: 20px 10px;
}

.content1 p {
  font-size: 18px;
  color: #41414192;
  font-weight: 600;
  line-height: 33px;
}
